.sidebar-sections {
  --mrf-sidebar-indent: 8px;
}

.sidebar-custom-sections {
  display: contents;
  [data-section-name="community"] {
    order: -3;
  }
  [data-section-name="product-guides"],
  [data-section-name="implementation-guides"] {
    order: -2;
  }
  [data-section-name="general"],
  [data-section-name="marfeel"] {
    order: -1;
  }
}

#main-outlet {
  .category-sidebar {
    display: none;
  }
}
.sidebar-wrapper {
  overflow-y: unset;
}
.sidebar-sections {
  -webkit-antialiased: antialiased;
  .sidebar-wrapper & {
    padding: 30px;
  }
  .cooked,
  .custom-sidebar-section {
    ul {
      margin-left: 0;
      margin-block: 0;
      padding-left: 0;
      li {
        list-style: none;
        padding-block: 3px;
        font-size: 14px;
      }
    }
    > ul {
      padding-left: 0;
    }
    a {
      color: var(--primary);
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 2px;
      }
      &:hover, &.active {
        &::after {
          background: var(--tertiary);
        }
      }
      &.active {
        font-weight: 600;
      }
    }
    li {
      position: relative;
      &:has(a:hover) {
        background: #ebf1fd;
        border-radius: 4px;
      }
    }
    > details,
    li {
      padding-left: var(--mrf-sidebar-indent);
    }
    p:first-child {
      display: none;
    }
    h3:first-of-type {
      margin-top: 0;
    }
    h3 {
      margin-bottom: 5px;
      font-weight: 500;
      font-size: var(--font-up-1-rem);
    }
    details {
      > summary {
        display: flex;
        align-items: center;
        gap: 8px;
        padding-block: 3px;
        font-size: 14px;
        &::before {
          content: none;
        }
        &::after {
          content: "";
          border: solid rgba(var(--primary-rgb), 0.35);
          border-width: 0 2px 2px 0;
          width: 0.35rem;
          height: 0.35rem;
          border-radius: 2.5px;
          transform: rotate(45deg);
        }
      }
      &[open] > summary {
        &::before {
          content: none;
        }
        &::after {
          content: "";
          transform: rotate(225deg);
          margin-top: 4px;
        }
      }
    }
    > ul,
    > details > ul {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 1px;
        background: #dee6ea;
      }
    }
    > details {
      padding-inline: 0;
      margin-bottom: 5px;
      > ul {
        li > ul {
          a.active::after,
          a:hover::after {
            left: calc(-1 * var(--mrf-sidebar-indent));
          }
        }
      }
      > details {
        padding-left: var(--mrf-sidebar-indent);
        position: relative;
        > details {
          padding-left: var(--mrf-sidebar-indent);
          a.active::after,
          a:hover::after {
            left: calc(-2 * var(--mrf-sidebar-indent));
          }
          li > ul {
            a.active::after,
            a:hover::after {
              left: calc(-3 * var(--mrf-sidebar-indent));
            }
          }
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 1px;
          background: #dee6ea;
        }
        a.active::after,
        a:hover::after {
          left: calc(-1 * var(--mrf-sidebar-indent));
        }
        li > ul {
          a.active::after,
          a:hover::after {
            left: calc(-2 * var(--mrf-sidebar-indent));
          }
        }
      }
    }
  }
  .custom-sidebar-section {
    > details {
      padding-left: var(--mrf-sidebar-indent);
      > details {
        ul::before {
          content: none !important;
        }
      }
    }
  }
}

.sidebar-section-wrapper[data-section-name] {
  &:has(.custom-sidebar-section) {
    .sidebar-section-content {
      display: none;
    }
  }
  &:has(button[aria-expanded="false"]) {
    .custom-sidebar-section {
      display: none;
    }
  }
}

.sidebar-section-header-global-indicator { display: none; }
.sidebar-custom-sections {
    & > [data-section-name]:not([data-section-name="general"],[data-section-name="community"],[data-section-name="marfeel"]) {
        ul {
            position: relative;
            padding: 0;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 1px;
                background: #dee6ea;
            }
        }
        li {
            --d-sidebar-row-height: 24px;
            margin: unset;
            list-style: none;
            padding-block: 3px;
            a.sidebar-section-link {
                color: var(--primary);
                &::after {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                  height: 100%;
                  width: 2px;
                }
                &:hover {
                    background: unset;
                    &::after {
                        background: var(--tertiary);
                    }
                }
                &.active {
                    font-weight: 600;
                    &::after {
                        background: var(--tertiary);
                    }
                }
            }
        }
    }
}

// Community links
[data-section-name="community"] {
	margin-inline: -30px;
	padding-block: 10px 30px;
	margin-bottom: 20px;
	.unread {
	    display: none;
	}
	.sidebar-section-header-wrapper {
		margin-inline: 30px;
		button.sidebar-section-header-button {
			svg {
				padding: 2px;
			}
			.discourse-no-touch & {
				&:hover {
					background: unset;
					svg.d-icon {
						color: #93A0B2;
					}
				}
				svg {
					color: #93A0B2;
				}
			}
		}
	}
  // more section
	.sidebar-more-section-links-details-content-footer {
	    border: none;
	}
  // Hide admin links
	body:not(.staff) & {
	    .sidebar-section-link-wrapper:has([href="/admin"]) {
	        display: none;
	    }
	    .sidebar-more-section-links-details-summary {
	        display: none;
	    }
	}
}
#sidebar-section-content-community {
	margin-inline: 30px;
	padding: 0 0 20px;
	display: flex;
	flex-direction: column;
  border-bottom: 1px solid #DEE6EA;
}